

.jumbotron{
    margin-bottom: 0px;
    border-radius: 4px;
    padding-top: 20px;
    opacity: 0.77;
}

#ShayannePic{
    border: 5px solid #ddd;
    border-radius: 4px;
    padding: 0px;
    width: 275px;
    margin-right: 44px;
    border-color: white;
   
    
}

#dogPic{
    border: 5px solid #ddd;
    border-radius: 4px;
    padding: 0px;
    width: 275px;
    margin-right: 44px;
    border-color: white;
    object-fit: cover;
   

}

#shywithcamPic{
    border: 5px solid #ddd;
    border-radius: 4px;
    padding: 0px;
    width: 275px;
    margin-right: 44px;
    border-color: white;
    object-fit: cover;
   

}

#imgdiv{
    justify-content: center;
    margin:0 auto;
}



.navbar {
    border-radius: 4px;
    background-color:#ccccff;
    border-color: white;

}

body{
    background-color: #ffcccc;
}


.display-4{
    font-family: 'Noto Sans JP', sans-serif;
   
}

p{
    font-family: 'Noto Sans JP', sans-serif;
}

h1{
    
    font-family: 'Noto Sans JP', sans-serif;
    
}

.card-body{
    background-color:#ccccff;
}

.card-title{
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

.box{
    padding-bottom: 50px;
    padding-right: 15px;
}

.box-2{
    padding-bottom: 50px;

}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 4rem;
    font-family: 'Anonymous Pro', monospace;
    font-weight: 400px;
    font-size: 18px;

}

#logo{
    width:  80px;
    opacity: 0.78;
    
} 

.socialTitle{
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

.socialLine {
    width:27%;
    margin:0 auto;
}


.card-img-top {
    height :200px;
 }

 #indexJumbotron{
     color: white;
     font-family: 'Anonymous Pro', monospace;
     
 }

 #portfolioJumbotron{
    color: white;
    font-family: 'Anonymous Pro', monospace;
    
 }

 .templateLiteral{
    color: rgb(255, 255, 0);
    font-family: 'Anonymous Pro', monospace;
    font-weight: 700 !important;
 }



 .array{
     color:rgb(21, 255, 0);
     font-family: 'Anonymous Pro', monospace;
     font-weight: 700 !important;
 }

